.registerContainer{
    background-image: url("https://wallpaperaccess.com/full/2968326.jpg");
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center; 
}
.regForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 70%;
    height: auto;
    margin: 4rem;
    padding: 2rem;
    background-color: grey;
    border-radius: 1rem;
} 
span{
    color: red;
}
input{
    height: 2rem;
    width: 80%;
    margin: 1rem;
    margin-bottom: 0px;
}
.regBtn{
    height: 2.5rem;
    font-size: 1.2rem;
    width: 80%;
    margin: 1rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


p a{
    text-decoration: none;
    color: white;
}