.registerContainer {
    background-image: url("https://wallpaperaccess.com/full/2968326.jpg");
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
  }
  
 
  .regForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gray;
    border-radius: 10px;
    padding: 50px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  
  
  .regForm h1 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  
  .regForm input {
    width: 100%;
    padding: 5px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
   
  }
  
  
  .regBtn {
    width: 100%;
    padding: 8px;
    background-color: #0077FF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .regBtn:hover {
    background-color: #0055CC;
  }
  span{
    position: relative;
    color: maroon;
    top: -10px; 
  }
  
  
  
 
  .regForm p {
    margin-top: 20px;
  }
  
  .regForm p a {
    color: white;
    
  }
  
  /* apply styles for mobile devices */
  @media only screen and (max-width: 760px) {
    .registerContainer {
      height: 80vh;
      padding-top: 30px;
      margin-top: 10px;
      
    }
  
    .regForm {
      width: 90%;
      margin: 0 auto;
      padding: 20px;
    }
  
    .regForm h1 {
      font-size: 24px;
    }
  
    .regForm input {
      font-size: 16px;
    }
  
    .regForm button {
      font-size: 18px;
    }
    .regForm p {
        text-align: center;
        margin-left: 70px;
        margin-top: 20px;
      }
      .regForm p a {
        display: block;
        margin-top: 5px;
        margin-left: -90px;
      
  }
  
  
  
  .regForm p {
    white-space: nowrap;
    max-width:100%;
  }
  
}