.aboutPageContainer {
    width: 100%;
    background-image: url("https://i.pinimg.com/originals/29/19/db/2919dba6073b5ed5a9036bd08859000b.jpg");
    background-size: cover;
    margin: 0;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .topContainer {
    display: flex;
    margin: 2rem;
    padding: 2rem;
    width: 80%;
    height: auto;
    background-color: black;
    color: white;
     border-radius: 1.5rem;
  }
  
  .topTextSection {
    margin: 2rem;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 90%;
    font-size: 16px;
  }
  
  .video {
    height: 20rem;
    width: 60%;
    padding: 1rem;
    margin: 1rem auto;
    align-items: center;
    margin-top: 50px;
  }
  
  .topTextSection button {
    margin-top: 1rem;
    width: 6rem;
    height: 3rem;
    background-color: maroon;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .topTextSection button:hover {
    background-color: white;
    color: maroon;
  }
  
  .aboutHeading {
    color: maroon;
    margin-bottom: 1rem;
    font-size: 2rem;
  }
  
  .bottomTextSection {
    margin: 2rem;
    margin-right: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 90%;
    font-size: 1.2rem;
  }
  
  .bottomTextSection ul li {
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .bottomContainer {
    display: flex;
    margin: 2rem;
    padding: 2rem;
    width: 80%;
    border-radius: 1.5rem;
    background-color: black;
    color: white;
  }
  
  @media screen and (max-width: 1024px) {
    .aboutPageContainer {
      width: 100%;
    }
    .topContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .bottomContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  
  @media only screen and (max-width: 760px) {
    .topTextSection p {
      width: 100%;
    }
    .topContainer {
      width: 100%;
    }
    .video {
      width: 100%;
      margin-left: -5%;
    }
    .bottomTextSection ul li {
      width: 100%;
    }
  }