
/* .mainContainer{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
} */
.homeContainer{
    background-image: url("https://cdn.pixabay.com/photo/2016/11/22/22/24/adult-1850925_960_720.jpg");
    background-size: 100% 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.homeText{
    width: 45%;
    color: white;
    margin: 7rem;
    margin-right: 2rem;
    font-size: 1.5rem;
    padding: 2rem;
}