.homeContainer{
    background-image: url("https://cdn.pixabay.com/photo/2016/11/22/22/24/adult-1850925_960_720.jpg");
    background-size: 100% 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    height: 50%;
}
.homeText{
    width: 45%;
    margin: 7rem;
    margin-right: 2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.homeText h1{
    font-size: 2.5rem;
    color: white;
    margin: 1rem 0;
}

@media screen and (max-width:1024px){
    .homeText{
        padding: 0px;
        margin: 0px;
    }
}

@media screen and (max-width:760px){
    .homeText {
        width: 90%;
        margin: 5rem auto;
        padding: 1rem;
    }

    .homeText h1 {
        font-size: 2rem;
        margin: 3rem 0;
    }
}