.product-carousel {
  position: relative;
  overflow: hidden;
  padding: 26px;
}

.product-container {
  padding: 0 10px;
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;

  scroll-behavior: smooth;
}

.pre-btn,
.next-btn {
  border: none;
  width: 60px;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
}

.next-btn {
  right: 0;
}

.next-btn p,
.pre-btn p {
  font-size: 50px;
  background-color: rgba(255, 255, 255, 0.436);
  box-shadow: 0px 0px 10px 1px black;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.Heading {
  color: white;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.subHeadingimage {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 400px;
  height: 200px;
  border-radius: 6px;
  border: 3px solid white;
}

.subheadingtext {
  color:   rgb(133, 5, 5);
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-top: 10px;
}

.team-member-container {

  width: 400px;
  margin: 3vh auto;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.team-member-container:hover {
  transform: translateY(-5px);
  transition: all 0.3s ease-in-out;
}

.team-member-container img {
  transition: all 0.3s ease-in-out;
}

.team-member-container:hover img {
  transform: scale(1.1);
}

.team-member-container .subheadingtext {
  font-size: 18px;
  font-weight: 600;
  margin-top: 15px;
}

.team-member-container .subheadingtext:last-child {
  margin-bottom: 15px;
}

.team-member-container .subheadingtext span {
  color: #777;
  font-size: 14px;
  font-weight: 400;
  margin-left: 5px;
}
@media (max-width: 768px) {
  .subHeadingimage {
    width: 100%;
    height: auto;
    margin: 0;
    border-radius: 0;
    border: none;
  }

  .team-member-container {
    width: 100%;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
  }
}

/* Styles for screens smaller than 480px */
@media (max-width: 480px) {
  .Heading {
    font-size: 24px;
  }

  .subheadingtext {
    font-size: 14px;
  }
}
